:root {
  --blue: #3f729d;
  --imageWidth: 357px;
  --imageMargin: 20px;
}

html, 
body {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 16px;
}

h1 {
  margin: 24px 0 34px 40px;
  font-size: 96px;
}

.p h1 {
  font-size: 42px;
  margin: 24px 0 70px 40px;
}

h1, h2 {
  color: var(--blue);
}

.p .a11y-hide-on-mobile {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}

.show-on-error{ display: none; }
.show-on-error.error { display: block; }

button {
  font-family: 'Merriweather', serif;
  color: white;
  border-width: 0;
  cursor: pointer;
}

.d button {
  background-color: var(--blue);
  font-size: 34px;
  padding: 12px 36px;
  margin: 0 1.5px;
}

.d .prev {
  border-radius: 8px 0 0 6px;
}

.d .next {
  border-radius: 0 8px 8px 0;
}

.p .prev {
  transform: rotate(180deg) translateY(50%);
  left: 0;
}

.p .next {
  right: 0;
}

.p button {
  background: rgba(255,255,255,0.35) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37.6' fill='%23276696'  height='62.6' viewBox='0 0 37.6 62.6'%3E%3Cpath d='M3.5 2.1C13.3 12 23.1 20 32.8 29.9 23.1 39.9 13.3 48 3.5 58.1v-13c5.3-4.8 10.6-9.5 16.6-14.9-6-5.5-11.3-10.3-16.6-15.1v-13z'/%3E%3C/svg%3E") scroll no-repeat 90% 50%;
  background-size: 45px 75px;
  width: 80px;
  height: 155px;
  border-radius: 80px 0 0 80px;
  transform: translateY(-50%);
  position: absolute;
}

.p button:focus {
  outline:none;
}

.p button:active {
  background-color: rgba(255,255,255,0.7); 
}

.carousel-container {
  padding:20px;
  position: relative;
  overflow:hidden;
}

.carousel-list {
  list-style-type:none; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.carousel-list li {
  margin:var(--imageMargin);
}

.carousel-image {
  text-decoration: none;
  text-transform: capitalize;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 320px auto;
  grid-template-areas: "image" "title";
  align-content: stretch;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: black;
}

.carousel-list img {
  grid-area: image;
  max-width: var(--imageWidth);
  max-height: 320px;
}

.carousel-list h2 {
  grid-area: title;
  margin: 0;
  padding: 24px 0;
  max-width: var(--imageWidth);
  overflow: hidden;
  text-overflow: ellipsis;
  background-color:white;
  font-size:36px;
}

.carousel-controls {
  text-align: center;
}

.d .carousel-controls {
  margin-top: 36px;
}

.p .carousel-controls {
  position: absolute;
  height:320px;
  width: var(--imageWidth);
  top: 199px;
  left:40px;
}

.show-on-error { display: none; }